html { height: 100%; }
body { height: 100%; display: flex; }
body > div { flex: 1; }
body {
	background: rgb(255,221,225);
	background: linear-gradient(90deg, rgba(255,221,225,1) 0%, rgba(238,156,167,1) 100%);
}
