<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Spotify Youtube Sync</title>
  </head>
  <body>
  <div id="not_authenticated">
    <a type="button" class="btn btn-outline-light" href="/authenticate_spotify" id="authenticate">Authenticate with Spotify</a>
  </div>
  <button id="sync">Start syncing</button>
  </body>
  <div id="youTubePlayer"></div>

  <script th:inline="javascript">
    function checkErrors() {
      var error = [[${error}]];
      if (error != "" && error != null) {
        console.log("encountered error: " + error);
        alert(error);
      };
    }
    checkErrors();
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="https://www.youtube.com/player_api"></script>
  <script th:src="@{/js/app.js}"></script>
</html>