<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="https://www.youtube.com/player_api"></script>
  <title>Spotify Youtube Sync</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello!'" />
<a href="/authenticate_spotify" id="authenticate">Authenticate Me!</a>
<button id="sync">Start syncing</button>
</body>
<div id="youTubePlayer"></div>

<script th:inline="javascript">
  var syncRequest = null;
  var playbackData = null;
  var player = null;

  function onLoad() {
    $( "#sync" ).hide();
    var error = [[${error}]];
    if (error != "" && error != null) {
      console.log("encountered error: " + error);
      alert(error);
    };

    var refresh_token = Cookies.get("refresh_token");
    if (refresh_token != null && refresh_token != "") {
      $( "#authenticate" ).hide();
      $( "#sync" ).show();
    }
  }

  function sync() {
    var spotifyUri = playbackData != null ? playbackData["spotifyUri"] : "";
    var oldYouTubeId = playbackData != null ? playbackData["youTubeId"] : "";
    console.log(oldYouTubeId);
    $.getJSON({
      url: "/update",
      data: {
        "spotifyUri": spotifyUri
      }
    })
      .done(function( data ) {
        console.log( "data:", data);
        playbackData = data;

        $("#youtubePlayer").remove();

        var progress = data["progressSeconds"];
        var youTubeId = data["youTubeId"] != null ? data["youTubeId"] : oldYouTubeId;
        var sameVideo = youTubeId == oldYouTubeId;

        playbackData["youTubeId"] = youTubeId;

        if (youTubeId == "") {
          alert("encountered error while getting latest state from server.");
        } else {
          updateYouTubePlayer(sameVideo, youTubeId, progress, data["currentlyPlaying"]);
      }
    });
  }

  function updateYouTubePlayer(isSameVideo, videoId, progress, currentlyPlaying) {
    if (isSameVideo) {
      player.seekTo(progress, true);
    } else {
      player.loadVideoById(videoId, progress);
    }

    if (currentlyPlaying) {
      player.playVideo();
    } else {
      player.pauseVideo();
    }
  }

  function onYouTubePlayerAPIReady() {
    player = new YT.Player('youTubePlayer', {
      height: '720',
      width: '1280',
      videoId: 'xWggTb45brM',
    });
    player.mute();
  }

  function toggleSync(e) {
    if (syncRequest != null) {
      $("#sync").html("Start syncing");
      clearInterval(syncRequest);
      syncRequest = null;
    } else {
      $("#sync").html("Stop sync");
      sync();
      syncRequest = setInterval(sync, 15000);
    }
  }
  $("#sync").on("click", toggleSync);

  onLoad();
</script>
</html>