<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <title>Spotify Youtube Sync</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello!'" />
<a href="/authenticate_spotify" id="authenticate">Authenticate Me!</a>
<button id="sync">Start syncing</button>
</body>
<script th:inline="javascript">
  function onLoad() {
    $( "#sync" ).hide();
    var error = [[${error}]];
    if (error != "" && error != null) {
      console.log("encountered error: " + error);
      alert(error);
    };

    var refresh_token = Cookies.get("refresh_token");
    if (refresh_token != null && refresh_token != "") {
      $( "#authenticate" ).hide();
      $( "#sync" ).show();
    }
  }

  function sync() {
    $.getJSON({
      url: "/update"
    })
      .done(function( data ) {
        console.log( "data:", data);
        // $("body").remove("#youtubePlayer");
        // autoplay = data["isPlaying"] == "true" ? "autoplay" : ""
        //   autoplayNum = data["isPlaying"] == "true" ? 1 : 0;
        //   $("#youtubePlayer").remove();
        //   progress = data["progress"];
        // $("body").append('<iframe width="1280" height="720" id="youtubePlayer" src="https://www.youtube.com/embed/'+data["youTube"]+'?start='+progress+'&mute=1&autoplay='+autoplayNum+'" frameborder="0" allow="accelerometer; '+autoplay+'; encrypted-media; gyroscope;picture-in-picture" allowfullscreen></iframe>');
      });
    }

  onLoad();
  var syncing = false;

  $("#sync").on("click", event => {
    if (syncing) {
      $("#sync").html("Start syncing");

      clearInterval();
    } else {
      $("#sync").html("Stop sync");
      sync();
      setInterval(sync, 15000);
    }

    syncing = !syncing;
  });
</script>
</html>