<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div id="nodata">No Content Playing</div>
  <a id="update">Update</a>
</body>
<script th:inline="javascript">

    var youTubeId = [[${youTube}]];
    var progress = [[${progress}]];
    var isPlaying = [[${isPlaying}]];

    var autoplay = isPlaying ? "autoplay" : ""
    var autoplayNum = isPlaying ? 1 : 0;
    if (youTubeId != null) {
    	$("#nodata").hide();
    	$("body").append('<iframe width="1280" height="720" id="youtubePlayer" src="https://www.youtube.com/embed/'+youTubeId+'?start='+progress+'&mute=1&autoplay='+autoplayNum+'" frameborder="0" allow="accelerometer; '+autoplay+'; encrypted-media; gyroscope;picture-in-picture" allowfullscreen></iframe>');
    }

    // setInterval(fetchData, 15000);

    function fetchData() {
		$.ajax({
		  url: "/update",
		  beforeSend: function( xhr ) {
		    xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
		  }
		})
		  .done(function( data ) {
		    if ( console && console.log ) {
		      console.log( "data:", data);
		      $("body").remove("#youtubePlayer");
		      autoplay = data["isPlaying"] ? "autoplay" : ""
          	autoplayNum = data["isPlaying"] ? 1 : 0;
		      $("body").append('<iframe width="1280" height="720" id="youtubePlayer" src="https://www.youtube.com/embed/'+data["youTube"]+'?start='+data["progress"]+'&mute=1&autoplay='+autoplayNum+'" frameborder="0" allow="accelerometer; '+autoplay+'; encrypted-media; gyroscope;picture-in-picture" allowfullscreen></iframe>');
		    }
		  });
    }

    $("#update").on('click', event => {
        fetchData();
    });
</script>
</html>