<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div id="nodata">No Content Playing</div>
</body>
<script th:inline="javascript">

    var youTubeLink = [[${youTubeLink}]];
    var progress = [[${progress}]];
    var isPlaying = [[${isPlaying}]];

    var autoplay = isPlaying ? "autoplay" : ""
    if (youTubeLink != null) { 
    	$("#nodata").hide();
    	$("body").append('<iframe width="560" height="315" src="https://www.youtube.com/embed/'+youTubeLink+'?start='+progress+'" frameborder="0" allow="accelerometer; '+autplay+'; encrypted-media; gyroscope;picture-in-picture" allowfullscreen></iframe>');
    }
</script>
</html>